[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = daniel gudino
	email = dgudino459@gmail.com
[credential "https://git.bootcampcontent.com"]
	provider = generic
